
.sale-month .pro-parent .title h5 {
    letter-spacing: 2px;
    padding-bottom: 8px;
}
.first-header ul li.c-fav {
    margin-right: 50px;
    margin-left: 7px;
}
.sale-month .pro-parent a span {
    margin-right: 50%;
    margin-left: 0;
}
.main-products .product-m a span {
    margin-right: 50%;
    margin-left: 0;
}