#siteNav {
  background-color: transparent;
}

#siteNav li a {
  /* color: #fff; */
  color: #111;
}
#siteNav li a:hover {
  color: orange;
}

.iconset,
.iconset a {
  /* color: #fff; */
  color: #111;
}

.header-7 .search-inline .input-box .action {
  background: transparent;
}

.collection-slider-8items .collection-item a .img {
  width: 50%;
  margin: 5px auto;
}

.collection-slider-8items .collection-item a .details,
.collection-slider-8items .collection-item a .details * {
  font-size: 15px;
  width: 100%;
  text-align: center;
  margin: 5px auto;
}
