#siteNav {
  background-color: transparent;
}

#siteNav li a {
  /* color: #fff; */
  color: #111;
}
#siteNav li a:hover {
  color: orange;
}

.iconset,
.iconset a {
  /* color: #fff; */
  color: #111;
}

.header-7 .search-inline .input-box .action {
  background: transparent;
}
